<div class='main-photo' style="width:100%;background-image: url('<%= @post.photo_url %>');">
  <!-- <div style="width:100%;background-image: image-url('<%= @post.photo_url %>'); background-size: cover; background-attachment: fixed; background-repeat: no-repeat;background-position: center center;"> -->
</div>

<div class='container'>
  <h1><b><%= @post.headline %></b></h1>
  <div class='col-md-8'>
    <h3><%= @post.subhead %></h3>
    <h5>By <%= @post.byline.upcase %></h5>
  </div>

  <div class='row'>
    <div class='col-md-8' id='text'>
      <p><%= @post.main_body.html_safe %></p>
    </div>
    <div class='col-md-4'>
      <p>
        <center>
        <a href="https://twitter.com/intent/tweet?text=<%= @post.headline %> <%= request.original_url %>" data-size="large">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false">
          <i class="fa fa-reddit-square"></i>
        </a>
        <a href="http://pinterest.com/pin/create/button/?url=<%= request.original_url %>" class="pin-it-button" count-layout="horizontal">
          <i class="fa fa-pinterest-square"></i>
        </a>
        </center>
      </p>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'grafapp';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </div>
</div>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
